@media only screen and (min-width: 640px) {
    .__hero_content_title_mobile {
        font-size: 2.5em !important;
    }
    .__mtb {
        span {
            transform: translateX(0px) !important;
        }
    }
}

@media only screen and (min-width: 900px) { 
    .__hero_content_title_desktop {
        font-size: 2.6em !important;
        display: block !important;
    }
    .__hero_content_title_mobile {
        display: none;
    }
    nav {
        z-index: 1 !important;
        font-size: 1.4em;
        max-width: 700px;
    }
    .--brake-line {
        flex-direction: row;
    }
    .--mtb-image-one {
        opacity: 0.2;
        transform: translateY(-20px);
        width: 70%;
    }
    .__projects {
        text-align: center;
        .__projects_article_title {
            justify-content: center;
        }
    }
    .__guest_book_content_message {
        width: 45% !important;
    }
}