:root {
  /*--brown: rgb(54, 47, 38);*/
  --brown: rgb(25, 18, 44);
  --dirt-white: rgb(236, 236, 236);
}

body {
  margin: 0px;
  font-family: "Courier New", Courier, monospace;
  color: var(--brown);
}
body header {
  width: 100%;
  background-color: var(--brown);
  padding: 20px 0px;
  letter-spacing: 12px;
  text-align: center;
}
body header a {
  text-decoration: none;
  color: var(--dirt-white);
  padding: 6px 10px;
  font-size: 0.8em;
  font-weight: 900;
}
body header a:hover {
  color: rgb(206, 206, 206);
  transition: color 400ms linear;
  font-size: 0.85em;
  transition: font-size 400ms linear;
}
body main {
  background-color: var(--dirt-white);
}
body main .__hero {
  text-align: center;
  padding: 0px 1em;
  padding-top: 200px;
  padding-bottom: 300px;
}
body main .__hero h1 {
  font-family: Death-Rattlebb;
  font-size: 6em;
  margin: 0px;
  margin-bottom: 10px;
}
body main .__gallery {
  background-color: var(--brown);
  display: flex;
  justify-content: center;
}
body main .__gallery .__gallery_images {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1.5em;
  gap: 2em;
}
body main .__gallery .__gallery_images .__gallery_images_container {
  transform: translateY(-90px);
  width: 100%;
  height: 60vw;
  max-height: 1020px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .__gallery .__gallery_images .__gallery_images_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .__gallery .__gallery_images .__gallery_images_container:hover img {
  transform: scale(1.05);
  transition: transform 600ms linear;
}
body main .__hmm {
  text-align: center;
  padding: 100px 25px;
  font-size: 2em;
  font-variant-caps: all-petite-caps;
  background-color: var(--dirt-white);
}
body main .__hmm q {
  font-weight: 900;
}
body main .__big_image {
  height: 500px;
  background-image: url(../../imgs/mtb/mtb-img-5.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body main .__video {
  background-color: rgb(20, 23, 46);
  color: var(--dirt-white);
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
}
body main .__video .__video_content {
  padding: 3em 1em;
  width: 1200px;
  text-align: center;
}
body main .__video .__video_content .__video_content_text {
  margin-bottom: 50px;
}
body main .__video .__video_content .__video_content_text h2 {
  font-variant-caps: all-petite-caps;
  font-size: 3em;
  margin: 0;
  font-weight: 900;
}
body main .__video .__video_content .__video_content_videos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  flex-wrap: wrap;
}
body main .__video .__video_content .__video_content_videos iframe {
  width: 100%;
  max-width: 540px;
  height: 300px;
}
body footer {
  background-color: var(--dirt-white);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 120px;
}/*# sourceMappingURL=style.css.map */