@media only screen and (min-width: 640px) {
    .hero-title {
        font-size: 45px;
        margin-bottom: 20px;
    }
    .hero-links > div > p > a {
        font-size: 20px;
    }

    .brake-line {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .under-construction-gif > img {
        height: 8vh;
      }
}


@media only screen and (min-width: 900px) {
    .gifs {
        max-width: 1600px;  
    }
    .projects-section {
        max-width: 70%;
    }
}
