html {
    text-align: center;
}

body {
    margin: 0;
}

h1, p, a {
    font-family: Azonix;
}

nav {
    padding: 10px;
}
nav > a {
    text-decoration: none;
    font-size: 1em;
    color: black;
    transition: all 500ms;
}
nav > a:hover {
    transform: translateX(1px) scale(1.2);
    transform: translateY(-3px) scale(2.05);
    color: rgb(87, 87, 87);   
}

.hero {
    height: 100vh;
    background-image: url(../imgs/IMG_8.JPG);
    background-size: cover;
    background-position: center top;
}

.photo-gallery-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.photo-gallery {
    margin: 1rem;
    width: 100%;
    max-width: 1000px;
}

.basic-grid {
    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    min-height: 250px;
    border-radius: 8px;
    transition: all 500ms;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
  
.card:hover {
    transform: translateY(-3px) scale(1.05);
}