:root {
  /*--brown: rgb(54, 47, 38);*/
  --purple: rgb(25, 18, 44);
  --dirt-white: rgb(236, 236, 236);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: "Courier New", Courier, monospace;
  color: var(--purple);
}
body h2 {
  font-size: 3.2rem;
  font-variant-caps: all-petite-caps;
  font-family: "RussoOne";
}
body h3 {
  font-size: 1.8rem;
}
body a {
  text-decoration: none;
  color: var(--dirt-white);
  padding: 6px 10px;
  font-size: 0.8em;
  font-weight: 900;
}
body a:hover {
  color: rgb(206, 206, 206);
  transition: color 400ms linear;
  font-size: 0.85em;
  transition: font-size 400ms linear;
}
body header {
  width: 100%;
  background-color: var(--purple);
  padding: 20px 0px;
  letter-spacing: 12px;
  text-align: center;
}
body main {
  background-color: var(--dirt-white);
}
body main #__hero {
  text-align: center;
  padding: 0px 1em;
  padding-top: 200px;
  padding-bottom: 300px;
}
body main #__hero h1 {
  font-family: Death-Rattlebb;
  font-size: 6em;
  margin: 0px;
  margin-bottom: 10px;
}
body main #__gallery {
  background-color: var(--purple);
  display: flex;
  justify-content: center;
}
body main #__gallery .__gallery_images {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1.5em;
  gap: 2em;
}
body main #__gallery .__gallery_images .__gallery_images_container {
  border-radius: 6px;
  transform: translateY(-90px);
  width: 100%;
  height: 60vw;
  max-height: 1020px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #__gallery .__gallery_images .__gallery_images_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body main #__gallery .__gallery_images .__gallery_images_container:hover img {
  transform: scale(1.01);
  transition: transform 200ms linear;
}
body main .__quote {
  text-align: center;
  padding: 100px 25px;
  font-size: 2em;
  font-variant-caps: all-petite-caps;
  background-color: var(--dirt-white);
  font-weight: 900;
  line-height: 86%;
}
body main #__races {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 0px;
}
body main #__races .__races_container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  max-width: 1400px;
  gap: 24px;
  justify-content: center;
}
body main #__races .__races_container .race_container {
  width: 90%;
  text-align: center;
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
  padding: 12px;
}
body main #__cover_image {
  height: 500px;
  background-image: url(../../media/images/mtb/mtb-img-5.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body main #__about {
  width: 100%;
  background-color: var(--purple);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0px;
}
body main #__about .__about_container {
  max-width: 1200px;
  color: var(--dirt-white);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
body main #__about .__about_container div {
  width: 90%;
  padding: 24px 12px;
  padding-top: 0px;
}
body main #__about .__about_container div p {
  margin: 0px;
}
body main #__about .__about_container div h2 {
  margin-top: 0px;
  margin-bottom: 24px;
}
body main #__about .__about_container img {
  width: 100%;
  padding: 24px 12px;
}
body footer {
  background-color: var(--purple);
  border-width: 0px;
  border-top: 4px;
  border-color: var(--dirt-white);
  border-style: solid;
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body footer .__footer_container {
  max-width: 1600px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
}
body footer .__footer_container .footer_left {
  font-family: Death-Rattlebb;
  font-size: 5em;
}
body footer .__footer_container .footer_right ul {
  display: flex;
  gap: 16px;
  font-size: 1.4rem;
  margin: 0px;
}/*# sourceMappingURL=style.css.map */