@font-face {
  font-family: 'IBM-PlexMono';
  src: url(../../fonts/IBMPlexMono/IBMPlexMono-Thin.ttf);
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: 'IBM-PlexMono';
  src: url(../../fonts/IBMPlexMono/IBMPlexMono-ExtraLight.ttf);
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'IBM-PlexMono';
  src: url(../../fonts/IBMPlexMono/IBMPlexMono-Light.ttf);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'IBM-PlexMono';
  src: url(../../fonts/IBMPlexMono/IBMPlexMono-Medium.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'IBM-PlexMono';
  src: url(../../fonts/IBMPlexMono/IBMPlexMono-Regular.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'IBM-PlexMono';
  src: url(../../fonts/IBMPlexMono/IBMPlexMono-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'IBM-PlexMono';
  src: url(../../fonts/IBMPlexMono/IBMPlexMono-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Dash';
  src: url(../../fonts/dash/Dash-Horizon-Demo.otf);
  font-style: normal;
}

@font-face {
  font-family: 'Azonix';
  src: url(../../fonts/azonix/Azonix.otf);
  font-style: normal;
}

@font-face {
  font-family: 'Death-Rattlebb';
  src: url(../../fonts/death-rattlebb/deathrattlebb_reg.ttf);
  font-style: normal;
}
