html {
    scroll-behavior: smooth;
    body {
        margin: 0px;
        font-family: 'Roboto';
        background: linear-gradient(30deg, rgb(0, 0, 0) 0%, rgb(14, 2, 63) 50%, rgb(0, 0, 0) 100%);
        color: white;
        header {
            z-index: 2;
            position: fixed;
            top: 0px;
            width: 100vw;
            flex-wrap: wrap;
            
            background: rgb(18, 0, 61);
            backdrop-filter: blur(20.6px); 

            font-variant-caps: all-petite-caps;
            a {
                color: rgb(255, 255, 255);
                text-decoration: none;
                &:hover {
                    color: rgb(81, 75, 105);
                }
                transition: 0.7s ease;
            }
            .__navbar {
                z-index: 1;
                height: 3em;
                padding: 1.5em 3em;
                display: flex;
                justify-content: space-between;
                width: 100%;
                align-items: center;
                gap: 7vw;
                .__destkop_nav {
                    font-size: 1.5em;
                    display: flex;
                    gap: 7vw;
                    list-style: none;
                    padding: 0px;
                    margin: 0px;
                    display: none;
                }
                .__hamburger {
                    cursor: pointer;
                    &:hover {
                        .bar {
                            background-color: rgb(81, 75, 105);
                        }
                    }
                }
                span {
                    font-size: 3em;
                    font-family: 'Death-Rattlebb';
                }
            }
            .__mobile_nav {
                position: fixed;
                top: -44em;
                background: linear-gradient(30deg, rgb(0, 0, 0) 0%, rgb(14, 2, 63) 50%, rgb(0, 0, 0) 100%);
                width: 100%;
                a {
                    font-size: 2em;
                }
                ul {
                    list-style: none;
                    margin: 0px;
                    padding: 0px;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    gap: 3em;
                    margin: 5em 0px;
                }
                transition: 1.0s;
                padding-top: 120px;
            }
            .bar {
                display: block;
                width: 40px;
                height: 4px;
                margin: 10px auto;
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                background-color: white;
                border-radius: 20px;
            }
            .__hamburger.active .bar:nth-child(2) {
                opacity: 0;
            }
            .__hamburger.active .bar:nth-child(1) {
                transform: translateY(14px) rotate(45deg);
            }
            .__hamburger.active .bar:nth-child(3) {
                transform: translateY(-14px) rotate(-45deg);
            }
            .__mobile_nav.active {
                top: 0em;
            }
        }
        main {
            h2 {
                margin: 0px;
                font-family: 'Death-Rattlebb';
                letter-spacing: 6px;
                font-size: 5em;
            }
            .__hero {
                margin: 0px;
                margin-bottom: 16em;
                height:100vh;
                aspect-ratio: 16 / 6;
                max-width: 100vw;
                .__hero_image_container {
                    width: 100%;
                    height: 100%;
                    background-image: url('../../media/images/photo/PHOTO_17.webp');
                    background-position: bottom;
                    background-attachment: fixed;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
            text-align: center;
            .__gallery {
                flex-direction: column;
                gap: 4em;
                .__gallery_container {
                    max-width: 1200px;
                    display: flex;
                    gap: 1em;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    .__gallery_image {
                        background-color: rgb(0, 0, 0);
                        width: 100%;
                        aspect-ratio: 16 / 9;
                        overflow: hidden;
                        img {
                            /*
                            max-height: 100%;
                            */
                            max-width: 100%;
                            object-fit: cover;
                            &:hover {
                                transform: scale(1.015);
                                -webkit-transition: transform 800ms linear;
                                -ms-transition: transform 800ms linear;
                                transition: transform 800ms linear;
                            }
                        }
                    }
                }
            }
            .__tags {
                flex-direction: column;
                gap: 4em;
                margin-top: 10em;
                ul {
                    list-style: none;
                    margin: 0px;
                    padding: 0px;
                }
            }
            .__collections {
                flex-direction: column;
                gap: 4em;
                margin-top: 10em;
                ul {
                    list-style: none;
                    margin: 0px;
                    padding: 0px;
                }
            }
        }
        footer {
            width: 100vw;
            margin-top: 8em;
            font-weight: 300;
            text-align: center;
            span {
                margin: 3em 1em;
            }
        }
    }
    .--center-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
