html {
  scroll-behavior: smooth;
}
html body {
  margin: 0px;
  font-family: "Roboto";
  background: linear-gradient(30deg, rgb(0, 0, 0) 0%, rgb(14, 2, 63) 50%, rgb(0, 0, 0) 100%);
  color: white;
}
html body a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 0.5s ease;
}
html body a:hover {
  color: rgb(81, 75, 105);
}
html body header {
  z-index: 2;
  position: fixed;
  top: 0px;
  width: 100vw;
  flex-wrap: wrap;
  background: rgb(7, 0, 34);
  -webkit-backdrop-filter: blur(20.6px);
          backdrop-filter: blur(20.6px);
  font-variant-caps: all-petite-caps;
}
html body header .__navbar {
  z-index: 1;
  height: 3em;
  padding: 1.5em 3em;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 7vw;
}
html body header .__navbar .__destkop_nav {
  font-size: 1.5em;
  display: flex;
  gap: 7vw;
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: none;
}
html body header .__navbar .__hamburger {
  cursor: pointer;
}
html body header .__navbar .__hamburger:hover .bar {
  background-color: rgb(81, 75, 105);
}
html body header .__navbar span {
  font-size: 2.8em;
  font-family: "Death-Rattlebb";
}
html body header .__mobile_nav {
  position: fixed;
  top: -44em;
  background: rgb(7, 0, 34);
  width: 100%;
  transition: 1s;
  padding-top: 100px;
}
html body header .__mobile_nav a {
  font-size: 1.8em;
}
html body header .__mobile_nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 4em 0px;
}
html body header .bar {
  display: block;
  width: 32px;
  height: 3px;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
  border-radius: 20px;
}
html body header .__hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
html body header .__hamburger.active .bar:nth-child(1) {
  transform: translateY(14px) rotate(45deg);
}
html body header .__hamburger.active .bar:nth-child(3) {
  transform: translateY(-14px) rotate(-45deg);
}
html body header .__mobile_nav.active {
  top: 0em;
}
html body main {
  text-align: center;
}
html body main h2 {
  margin: 0px;
  font-family: "Death-Rattlebb";
  letter-spacing: 6px;
  font-size: 5em;
}
html body main .__hero {
  margin: 0px;
  margin-bottom: 16em;
  height: 100vh;
  aspect-ratio: 16/6;
  max-width: 100vw;
}
html body main .__hero .__hero_image_container {
  width: 100%;
  height: 100%;
  background-image: url("../../media/images/photo/PHOTO_17.webp");
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
html body main .__gallery {
  flex-direction: column;
  gap: 4em;
}
html body main .__gallery .__gallery_container {
  max-width: 1200px;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
html body main .__gallery .__gallery_container .__gallery_image {
  background-color: rgb(0, 0, 0);
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
}
html body main .__gallery .__gallery_container .__gallery_image img {
  /*
  max-height: 100%;
  */
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
html body main .__gallery .__gallery_container .__gallery_image img:hover {
  transform: scale(1.06);
  transition: transform 100ms linear;
}
html body main .__tags {
  flex-direction: column;
  gap: 4em;
  margin-top: 10em;
}
html body main .__tags ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
html body main .__collections {
  flex-direction: column;
  gap: 4em;
  margin-top: 10em;
}
html body main .__collections ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
html body footer {
  width: 100vw;
  margin-top: 8em;
  font-weight: 300;
  text-align: center;
}
html body footer span {
  margin: 3em 1em;
}
html .--center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */